<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <p>Dit jaar zijn er bij de FOSS4GNL voor het eerst ook pre-conference workshops: 
            op donderdag 19 juni geven gerenommeerde bedrijven een achttal hands-on workshops. 
            Op deze wijze dragen zij extra bij aan de kennisopbouw in Nederland.</p>
            
            <p>Deze workshops gaan een heel stuk dieper dan de talks op de conferentie zelf: 
            een onderwerp wordt goed uitgediept en, zoals gezegd, je leert voor een groot deel 
            door het hands-on te doen. Het zijn professionele trainingen van een halve dag.</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
