<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <p>Na het geweldige succes van de eerdere FOSS4GNL edities in Groningen en Almere de afgelopen jaren, wordt er ook dit jaar een FOSS4GNL gehouden. Dit jaar is de Technische Universiteit Delft de locatie, en de conferentie vindt plaats op 20 juni.</p>

            <p>De conferentie zelf is op 20 juni. Op deze dag staat een keur aan sprekers op het programma, die allemaal hun kennis en ervaring met opensource-geotoepassingen delen. Het hele spectrum wordt behandeld: techniek, toepassingsvelden, gebruikerservaringen... het belooft weer een uitstekende dag te worden!</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
