<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <p>Bedankt iedereen voor de super goede sfeer en al jullie interessante bijdragen - samen hebben we FOSS4GNL 2018 tot een groot succes gemaakt. Helaas is het toch weer voorbij. Gelukkig hebben we de foto's nog. Deze vind je binnenkort hier. </p>
        </div>
    </div>
</section>
<!-- End Description Section -->
