<!-- Begin Find Way-->
<section>    
        <div id="nlmaps-holder"></div>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script src="https://rawgit.com/kadaster/nlmaps/master/dist/nlmaps.iife.js"></script>
        <script>
            var nlMapsHolder = document.getElementById('nlmaps-holder');
            nlMapsHolder.style.height = '450px';
            var opts = {
                style: 'standaard',
                target: 'nlmaps-holder',
                center: {
                    longitude: 5.2192361,
                    latitude: 52.3716506
                },
                overlay: 'false',
                marker: false,
                zoom: 11,
                search: true,
            };

            var map = nlmaps.createMap(opts);
             
            var marker = L.marker([52.3716506, 5.2192361]).addTo(map);
            marker.bindPopup("<strong>Aeres Hogeschool</strong><br>Stadhuisstraat 18<br>Almere").openPopup();
                
            map.scrollWheelZoom.disable();
                
            if(L.Browser.mobile) {
                    map.dragging.disable();
                    console.log("dragging disabled")
            } else {
                    console.log("dragging enabled")
            }
                
//             map = L.map('map', {dragging: !L.Browser.mobile});
                

        </script>

</section>
<!-- End Find Way -->
